body {
    background-color: #eae7dc;
}

.score-board {
    border: solid 3px #8e8d8a;
    background: #d8d8d8;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
    padding: 25px;
    margin: 0 20%;
    border-radius: 10px;
    color: #e85a4f;
}

.start {
    flex: 1;
    font-size: 25px;
    background: #e85a4f;
    border: none;
    border-radius: 10px;
    color: #eae7dc;
    font-weight: bold;
    padding: 25px;
}

.player-score, .computer-score {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.clickTransition {
    transition: .07s ease;
    transform: scale(1.1);
}

.transitionEnd {
    transition: .07s ease;
    transform: scale(1);
}

.selected {
    padding: 20px;
    border: solid 5px black;
}